$font: "Inter", sans-serif;

// ALGUMAS DEFINIÇÔES

// CORES QUE REPETEM COM FREQUÊNCIA
$preto: #000;
$branco: #fff;
$laranja: #f07f3c;
$azul: #31306c;
$cinza: #565656;
$roxo: #643a9b;

$fundo-claro: #f1f1f1;

$gradient: linear-gradient(90deg, #31306c -0.7%, #643a9b 47.21%, #f07f3c 98.21%);

// Z-INDEX
$z-index: (
  cookies-banner: 1000,
  menu-aberto: 900,
  sanduba: 990,
  barra-topo: 990,
  botao-header: 990,
  banner-home-wrapper: 800,
  pattern-banner-home: 810,
  titulo-accordion: 500,
  text-content: 100,
  banner-img: 100,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

// FLEX CENTER
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// BREAKPOINTS
@mixin xs {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1200px) {
    @content;
  }
}

// TRANSITION
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
